.products{
  padding: 120px 20px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* repeat(numero de vezes, tamanho) // auto-fill (o quanto der), minmax(autoexplicativo) */
  gap: 20px;
}