.product-card{
  width: 100%;
  max-width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  transition: box-shadow 0.5s ease;
}

.card__image{
  width: 100%;
}

.card__infos{
  padding: 20px;
  border-top: 1px solid #DDD;
}

.card__price{
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.card__title{
  font-size: 15px;
  color: rgba(0,0,0,0.5);
  line-height: 1.5;
  font-weight: 500;
}

.button__add-cart{
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  margin: 12px 15px;
  color: #ffffff;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 55px;
  background-color: #8391fa9f;
  font-size: 1.3rem;
  cursor: pointer;
}

.product-card:hover{
  box-shadow: 1px 6px 4px rgba(0, 0, 0, 0.154);
}

.product-card:hover .button__add-cart{
  display: flex;
}